{% load static %}
<!-- Footer Start -->
    <div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Get In Touch</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>Suite 103, Progressive Center، Main Shahrah-e-Faisal Rd, Block 6 PECHS, Karachi, Sindh, Pakistan</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>+92 3321305436</p>
                <p><i class="fa fa-envelope text-white mr-3"></i>info@SpeedyRental.com</p>
                <h6 class="text-uppercase text-white py-2">Follow Us</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="https://twitter.com/Vishal_Makhijan"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="https://www.linkedin.com/in/vishalmakhijani/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Usefull Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="!#"><i class="fa fa-angle-right text-white mr-2"></i>Privacy Policy</a>
                    <a class="text-body mb-2" href="!#"><i class="fa fa-angle-right text-white mr-2"></i>Term & Conditions</a>
                    <a class="text-body mb-2" href="!#"><i class="fa fa-angle-right text-white mr-2"></i>New Member Registration</a>
                    <a class="text-body mb-2" href="!#"><i class="fa fa-angle-right text-white mr-2"></i>Affiliate Programme</a>
                    <a class="text-body mb-2" href="!#"><i class="fa fa-angle-right text-white mr-2"></i>Return & Refund</a>
                    <a class="text-body" href="!#"><i class="fa fa-angle-right text-white mr-2"></i>Help & FQAs</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Car Gallery</h4>
                <div class="row mx-n1">
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="{% static 'img/gallery-1.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="{% static 'img/gallery-2.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="{% static 'img/gallery-3.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="{% static 'img/gallery-4.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="{% static 'img/gallery-5.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="{% static 'img/gallery-6.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Sign up.Be inspired.Travel.</h4>
                <p class="mb-4">Subscribe now for hand-picked deals, inspiration and the latest booking tips, straight to your inbox</p>
                <div class="w-100 mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control bg-dark border-dark" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-uppercase px-3">Sign Up</button>
                        </div>
                    </div>
                </div>
                <i style="font-size: 15px">We won't pass your details on to anyone else. By clicking to sign up button you agree to our Terms of use and Privacy Policy</i>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
        <p class="mb-2 text-center text-body">&copy; <a href="{% url 'home' %}">Speedy Rentals</a>. All Rights Reserved.</p>
        <p class="m-0 text-center text-body">Designed and Developed with <span style="color: red">❤</span>  by <a href="https://www.linkedin.com/in/vishalmakhijani/"target="_blank">Vishal Makhijani</a> ,<a href="http://wa.me/923182909359"target="_blank">Raj wali</a>, <a href="https://facebook.com"target="_blank">Samiullah</a></p>
    </div>
    <!-- Footer End -->